<h1 class="project_title">Vässa Språket</h1>

<div class="card-container">

  @if(data(); as data) {
    @switch (data.state) {
      @case ('loading') {
        <mat-progress-spinner mode="indeterminate"/>
      }
      @case ('loaded') {
        <mat-card *ngFor="let chapter of data.chapters" class="chapter_card" [routerLink]="['chapter/', chapter.chapterNumber]">

          <mat-card-title>{{ chapter.chapterName }}</mat-card-title>

        </mat-card>
      }
      @case ('error') {
        <mat-progress-spinner mode="determinate" value="100" color="warn" />
      }
    }
  }




</div>
